version: '3.8'

services:
  xmpp-chatbot:
    image: hackboxguy/xmpp-chatbot:v1.0.0
    container_name: xmpp-chatbot
    volumes:
      - ./xmpp-chatbot-data/ssh:/root/.ssh
      - ./xmpp-chatbot-data/etc/:/xmpp-data/
      - ./xmpp-login.txt:/run/secrets/xmpp-login
    environment:
      - XMPP_LOGIN_FILE=/run/secrets/xmpp-login
    restart: unless-stopped
    read_only: true
    tmpfs:
      - /tmp
      - /var/run
      - /etc/dropbear
    network_mode: host
